/* Our styles */

/* * { */
/* 		outline: 1px dotted red; */
/* } */

body {
		font-family: Optima, Helvetica Neue, sans-serif;
		margin: 0 auto;
		padding: 0 10px;
		max-width: 50em;
}

body {
		color: #555;
}

h1,
h2,
strong {
  color: #333;
}

