/* Our styles */

/* * { */
/* 		outline: 1px dotted red; */
/* } */

body {
		font-family: Optima, Helvetica Neue, sans-serif;
		margin: 0 auto;
		padding: 0 10px;
		max-width: 50em;
		color: #555;
}

body {
		line-height: 1.5;
		padding: 4em 1em; 
}

h1,
h2,
strong {
  color: #333;
}

h2 {
		margin-top: 1em;
		padding-top: 1em;
}

